.intro {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  background-color: white;
  color: black;
}

.intro-title {
  padding: 4rem;
  width:100%;
}

.intro-text {
  padding: 4rem;
  border-left: 2px solid grey;
  width: 100%;
}
