.intro {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: white;
  padding: 1rem 2.5rem;
  margin: 4rem
}

.intro-title {
  width: 50%;
}

.intro-text {
  border-left: 1px solid #3a3a3a;
  padding-left: 1.5rem;
  width: 50%;
}
