.main {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      )
}

.content {
  border: 2px dashed orange;
  width: 80%;
  padding: 2rem;
  margin: auto;
  margin-bottom: 10rem;
  margin-top: 20rem;
}

img {
  display: flex;
  flex-direction: row;
  max-height: 20%;
  max-width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid orange;
  border-radius: 2%;
}

.code {
  display: block;
  overflow: auto;
  background-color: white;
  border: 2px solid orange;
  border-radius: 2%;
  padding: 20px;
  padding-left: 10px;
  width: 90%;
  font-size: 18px;
  color: black;
  margin: auto;
  line-height: 1.2;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

h2{
  color: orange;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  margin-top: 3rem;
}

p{
  font-size: 18px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 100%;
}

.inline {
  font-size: 18px;
  font-style: italic;
  color: orangered;
}

.table {
  margin: auto;
  margin-top: 2rem;
  border: 2px solid orange;
  border-radius: 2%;
  padding: 1rem;
  width: 90%;
}

th {
  color: orangered;
}

td {
  padding: 2rem;
}

.quote {
  font-style: italic;
  border: 2px solid orange;
  border-radius: 2%;
  text-align: center;
  padding: 2rem;
}
