.box-model, img {
  width: 50%;
  margin: 2rem;
  border: 2px solid white;
  border-radius: 3px;
}

.quote {
  font-style: italic;
  border: 2px solid white;
  border-radius: 2%;
  text-align: center;
  padding: 2rem;
  margin: 0 2rem;
}

.code-block.css-body {
  background-color: lightblue;
}

.code-block.css-important {
  color: darkred;
}

.code-block.css-dangerous {
  color: red;
}

.code-block.css-warning {
  color: #FFA500;
}

.code-block.css-safe {
  color: rgb(60, 187, 60);
}

.list-positioning {
  list-style: none;
}
